<table role="presentation" border="0" cellpadding="0" cellspacing="0" class="body">    
      <tr>
        <td>&nbsp;</td>
        <td class="container">          
          <div class="content">           

            <!-- START CENTERED WHITE CONTAINER -->
            <table role="presentation" class="main">
              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper">
                <img style="margin-left: 39%;margin-right: 39%;" src="https://i.imgur.com/L8np1zx.png">
                  <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                      <td>
                        <p><h2><b>Ola, {{username}}</b></h2></p>
                        <p>Enviamos este email, para informá-lo do sucesso da alteração de senha</p>
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
                          <tbody>
                            <tr>
                              <td align="left">
                                <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                                  <tbody>
                                    <tr>
                                      {{!-- <td> <a href="{{link}}" target="_blank">Recuperar Senha</a> </td> --}}
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <p></p>
                        <p>Faça um bom uso da plataforma.</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

            <!-- END MAIN CONTENT AREA -->
            </table>
            <!-- END CENTERED WHITE CONTAINER -->

            <!-- START FOOTER -->
            <div class="footer">
              <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td class="content-block">
                    <span class="apple-link"><b>&copy; Copyright 2020, UniCertified. All rights reserved.</span>
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->

          </div>
        </td>
        <td>&nbsp;</td>
      </tr>
</table>    
   



