<div class="ui middle aligned center aligned grid">
    <div class="column">        
        <form action="/config/type_user" method="POST" class="ui form">
             <div class="ui stacked segment">
                 <h4 class="ui dividing header">Cadastro do Tipo de Usuario</h4>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="cadastro_type_user" placeholder="Tipo Usuario">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Cadastrar</button>
            </div>          
            <div class="ui error message"></div>          
        </form>
        <div class="column">        
        <form action="/config/activation_state" method="POST" class="ui form">
             <div class="ui stacked segment">
                 <h4 class="ui dividing header">Cadastro do Estado de Ativação</h4>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="cadastro_activation_state" placeholder="Estado de Ativacao">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Cadastrar</button>
            </div>          
            <div class="ui error message"></div>          
        </form>
        <form action="/config/state" method="POST" class="ui form">
             <div class="ui stacked segment">
                 <h4 class="ui dividing header">Cadastro do Estado Certificado e ALuno</h4>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="cadastro_state" placeholder="Estado Certificado ou Aluno">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Cadastrar</button>
            </div>          
            <div class="ui error message"></div>          
        </form>
        <form action="/config/type_action" method="POST" class="ui form">
             <div class="ui stacked segment">
                 <h4 class="ui dividing header">Cadastro dos Tipos de Ação</h4>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="cadastro_type_action" placeholder="Tipos de Ação">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Cadastrar</button>
            </div>          
            <div class="ui error message"></div>          
        </form>
        
    </div>
    </div>
</div>