{{> topnav}}
{{> sidebar}}

<div class="pusher">
    <div class="main-content">
        <br>
        {{> breadcrumb}}
        <div class="ui grid stackable padded">
            <div class="eight wide computer sixteen wide tablet sixteen wide mobile column">
                <h4 class="ui horizontal divider header">
                    <i class="table icon"></i>Certificado dos Alunos
                </h4>                
                <div class="ui segment">                    
                    <canvas width="600" height="200" id="myChart"></canvas>
                </div>
            </div>
            <div class="eight wide computer sixteen wide tablet sixteen wide mobile column">
                <h4 class="ui horizontal divider header">
                    <i class="table icon"></i>Alunos
                </h4>                
                <div class="ui segment">                    
                    <canvas width="600" height="200" id="myChart2"></canvas>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</div>