<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui blue image header">
            <img src="/assets/logo_test.png" class="image">
            <div class="content">Login | UniCertified</div>
        </h2>
        <form action="/login/auth" method="POST" class="ui large form">
             <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Endereço de Email">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" name="password" placeholder="Senha">
                    </div>
                </div>
                <button class="ui fluid large blue submit button">Login</button>
            </div>          
            <div class="ui error message"></div>          
        </form>
        <div class="ui message">Novo Aqui? <a href="/registro"> Cadastre-se</a></div>
    </div>
</div>