<div class="ui middle aligned center aligned grid">
        <div class="column">
            <h2 class="ui blue image header">
                <img src="/assets/logo_test.png" class="image">
                <div class="content">Cadastro | UniCertified</div>
            </h2>
            <form class="ui large form register">
                <div class="ui stacked segment">
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="user icon"></i>
                      <input type="text" name="cadastro_nome" placeholder="Nome Usuario" maxlength="40" minlength="5">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="envelope icon"></i>
                      <input type="text" name="cadastro_email" placeholder="Endereço de Email" minlength="5" maxlength="40">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="envelope icon"></i>
                      <input type="text" name="cadastro_conf_email" placeholder="Confirmar E-mail" minlength="5" maxlength="40">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" name="cadastro_senha" placeholder="Senha" minlength="5" maxlength="40">
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <i class="lock icon"></i>
                      <input type="password" name="cadastro_conf_senha" placeholder="Confirmar Senha" minlength="5" maxlength="40">
                    </div>
                  </div>
                  <div class="ui fluid large blue submit button">Cadastrar</div>
                </div>
          
                <div class="ui error message"></div>          
              </form>
        </div>
    </div>