<div class="ui middle aligned center aligned grid">
    <div class="column">
        <h2 class="ui blue image header">
            <img src="/assets/logo_test.png" class="image">
            <div class="content">Trocar Senha | UniCertified</div>
        </h2>
        <form class="ui large form trocar">
             <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input disabled">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Endereço de Email" value="{{email}}">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                         <input type="password" name="trocar_senha" placeholder="Senha" minlength="5" maxlength="40">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="trocar_senha_conf" placeholder="Confirmar Senha" minlength="5" maxlength="40">
                    </div>
                </div>
                <div class="field">
                    <div class="ui fluid large blue submit button">Trocar Senha</div>
                </div>
                    
      
            </div>          
            <div class="ui error message"></div>          
        </form>
    </div>
</div>