<div class="ui grid stackable padded">
    <div class="ui breadcrumb">
        <a href="/dashboard" class="section">Home</a>
        <div class="divider"> / </div>
        <a href="#" class="section">{{breadcrumb}}</a>
    </div>
</div>  
<div class="ui divider"></div> 