<div class="ui section divider"></div>
<div class="ui vertical footer segment">
    <div class="ui center aligned container">
        <div class="ui mini images">
            <a href="https://www.linkedin.com/in/guilherme-fontes-amorim/" target="_blank">
             <img src="https://www.caluniversity.edu/wp-content/uploads/2020/06/Logo-Linkedin.png" class="ui mini image">
            </a> 
            <a href="https://github.com/Yokaito" target="_blank">
             <img src="https://image.flaticon.com/icons/svg/25/25231.svg" class="ui mini image">
            </a> 
        </div>                     
        <div class="ui horizontal small divided link list">
            <a class="item">&copy; Copyright 2020, UniCertified. All rights reserved.</a>
        </div>
    </div>
</div> 